# Preprocessing

In [1]:
# import library
import pandas as pd
import numpy as np
import os
from datetime import datetime

size of data

In [2]:
#TODO
csv_path = './data/sell_data2.csv'
raw_df = pd.read_csv(csv_path)
raw_df.head(10)

,Unnamed: 0,Weight,Engine power,Emission class,Engine capacity,Condition,VIN,Full service history,Price,Power,...,Consumption,Body,Warranty until,Body color,Seats,Transmission,Fuel,Range extender,Battery capacity1,Drive type
0,0,1178.0,NaN,Euro 6,1 364 ccm,Used,not published by the seller,NaN,13899,110 kW,...,5.9 l/100km (combined); 5.9 l/100km (city); 5....,Hatchback,NaN,Grey,4,Manual,Petrol,NaN,NaN,4x2
1,1,NaN,NaN,Euro 6d-TEMP,1 998 ccm,NaN,not published by the seller,NaN,38999,135 kW,...,7.2 l/100km (combined); 8.2 l/100km (city); 6....,SUV / offroad,NaN,Silver,5,Automatic,Petrol,NaN,NaN,4x4
2,2,1859.0,NaN,No emission class,NaN,Used,not published by the seller,NaN,37049,150 kW,...,15.7 kWh/100km (combined),Hatchback,NaN,Grey,5,Automatic,Electric,NaN,NaN,4x2
3,3,NaN,NaN,Euro 6,1 968 ccm,NaN,not published by the seller,NaN,45749,147 kW,...,4.4 l/100km (combined); 5.4 l/100km (city); 3....,Hatchback,NaN,Black,5,Automatic,Diesel,NaN,NaN,4x2
4,4,NaN,NaN,Euro 6,2 191 ccm,NaN,not published by the seller,NaN,21799,129 kW,...,5.4 l/100km (combined); 6.3 l/100km (city); 4....,SUV / offroad,NaN,Black,NaN,Manual,Diesel,NaN,NaN,4x4
5,5,NaN,NaN,NaN,1 984 ccm,New,not published by the seller,NaN,42349,110 kW,...,5.7 l/100km (combined),Sedans / saloons,NaN,Black,NaN,Automatic,Petrol,NaN,NaN,4x2
6,6,NaN,NaN,Euro 6,1 997 ccm,Used,not published by the seller,NaN,46799,130 kW,...,7.4 l/100km (combined),Cargo VAN,12/2025,Black,5,Automatic,Diesel,NaN,NaN,4x2
7,7,1215.0,NaN,Euro 6,999 ccm,New,not published by the seller,NaN,24199,81 kW,...,4.8 l/100km (combined),SUV / offroad,NaN,Red,5,Manual,Petrol,NaN,NaN,4x2
8,8,NaN,NaN,Euro 6,1 968 ccm,New,not published by the seller,NaN,43349,147 kW,...,5.5 l/100km (combined),Station Wagon,NaN,NaN,5,Automatic,Diesel,NaN,NaN,4x2
9,9,1519.0,NaN,Euro 6,1 598 ccm,Demonstration car,not published by the seller,NaN,31199,96 kW,...,NaN,SUV / offroad,NaN,Red,5,Manual,Diesel,NaN,NaN,4x2

In [3]:
raw_df.shape

(1099, 46)

 Brief introduction of data? What is the mean of each data properties/rows?

In [4]:
#TODO

Deduplicates

#TODO

# Analyzing Data in Columns
Next, we will analyze and process the data in the columns of the crawled dataset.

- First, we calculate the data type (dtype) of each column in DataFrame `raw_df` and save the result into Series `dtypes` (This Series has the index as the column name).

In [5]:
#TODO
dtypes = raw_df.dtypes
dtypes

Unnamed: 0                 int64
Weight                   float64
Engine power              object
Emission class            object
Engine capacity           object
Condition                 object
VIN                       object
Full service history      object
Price                      int64
Power                     object
CARNAME                   object
Previous owners          float64
ID                         int64
Battery type              object
Battery warranty (km)     object
Interior color            object
Mileage                   object
Make                      object
Hybrid type               object
El. motor power           object
Model                     object
Electric range            object
Battery capacity          object
First registration        object
Doors                     object
Valid MOT until           object
Country of origin         object
Energy efficiency         object
CO2 emissions             object
Type of finish            object
Currency                  object
Tags                      object
AC charging time          object
Interior material         object
DC charging time          object
Secondary drive           object
Consumption               object
Body                      object
Warranty until            object
Body color                object
Seats                     object
Transmission              object
Fuel                      object
Range extender            object
Battery capacity1         object
Drive type                object
dtype: object

- We need to check the data in the columns of the dataset.

In [6]:
df = raw_df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099 entries, 0 to 1098
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1099 non-null   int64
 1   Weight                 315 non-null    float64
 2   Engine power           30 non-null     object
 3   Emission class         1019 non-null   object
 4   Engine capacity        981 non-null    object
 5   Condition              722 non-null    object
 6   VIN                    1099 non-null   object
 7   Full service history   5 non-null      object
 8   Price                  1099 non-null   int64
 9   Power                  1099 non-null   object
 10  CARNAME                1099 non-null   object
 11  Previous owners        374 non-null    float64
 12  ID                     1099 non-null   int64
 13  Battery type           73 non-null     object
 14  Battery warranty (km)  46 non-null     object
 15  Interior color         866 non-null    object
 16  Mileage                1099 non-null   object
 17  Make                   1099 non-null   object
 18  Hybrid type            78 non-null     object
 19  El. motor power        62 non-null     object
 20  Model                  1099 non-null   object
 21  Electric range         18 non-null     object
 22  Battery capacity       85 non-null     object
 23  First registration     1099 non-null   object
 24  Doors                  1089 non-null   object
 25  Valid MOT until        99 non-null     object
 26  Country of origin      151 non-null    object
 27  Energy efficiency      4 non-null      object
 28  CO2 emissions          1099 non-null   object
 29  Type of finish         537 non-null    object
 30  Currency               1099 non-null   object
 31  Tags                   1070 non-null   object
 32  AC charging time       54 non-null     object
 33  Interior material      893 non-null    object
 34  DC charging time       24 non-null     object
 35  Secondary drive        8 non-null      object
 36  Consumption            970 non-null    object
 37  Body                   1099 non-null   object
 38  Warranty until         180 non-null    object
 39  Body color             1006 non-null   object
 40  Seats                  987 non-null    object
 41  Transmission           1099 non-null   object
 42  Fuel                   1099 non-null   object
 43  Range extender         135 non-null    object
 44  Battery capacity1      2 non-null      object
 45  Drive type             1099 non-null   object
dtypes: float64(2), int64(3), object(41)
memory usage: 395.1+ KB

- There are many columns with more than *70%* missing data, such as `Engine power`, `Full service history`, `Hybrid type`, ... Therefore, the columns with a high percentage of missing data will be removed before processing the data.

In [7]:
missing_column = ['Engine power','Full service history', 
                  'Hybrid type', 'El. motor power',
                  'Electric range', 'Valid MOT until',
                  'Energy efficiency', 'Secondary drive',
                  'Range extender','Battery capacity1']
df = df.drop(missing_column, axis = 1)

- Removing unnecessary columns:
    - `Unnamedd:0`0: the index number    - `Currency`cy: the currency unit, which is EUR for all entrie- s
Therefore, we will also remove these columns from the dataset.

In [8]:
df = df.drop(['Currency','Unnamed: 0'], axis = 1)

- After removing the columns with missing data and unnecessary columns, we need to process the data in the remaining columns. In this section, we will proceed with data processing in these columns.

1. What is the current data type of each column? Are there columns having inappropriate data types? If have, converting

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099 entries, 0 to 1098
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Weight                 315 non-null    float64
 1   Emission class         1019 non-null   object
 2   Engine capacity        981 non-null    object
 3   Condition              722 non-null    object
 4   VIN                    1099 non-null   object
 5   Price                  1099 non-null   int64
 6   Power                  1099 non-null   object
 7   CARNAME                1099 non-null   object
 8   Previous owners        374 non-null    float64
 9   ID                     1099 non-null   int64
 10  Battery type           73 non-null     object
 11  Battery warranty (km)  46 non-null     object
 12  Interior color         866 non-null    object
 13  Mileage                1099 non-null   object
 14  Make                   1099 non-null   object
 15  Model                  1099 non-null   object
 16  Battery capacity       85 non-null     object
 17  First registration     1099 non-null   object
 18  Doors                  1089 non-null   object
 19  Country of origin      151 non-null    object
 20  CO2 emissions          1099 non-null   object
 21  Type of finish         537 non-null    object
 22  Tags                   1070 non-null   object
 23  AC charging time       54 non-null     object
 24  Interior material      893 non-null    object
 25  DC charging time       24 non-null     object
 26  Consumption            970 non-null    object
 27  Body                   1099 non-null   object
 28  Warranty until         180 non-null    object
 29  Body color             1006 non-null   object
 30  Seats                  987 non-null    object
 31  Transmission           1099 non-null   object
 32  Fuel                   1099 non-null   object
 33  Drive type             1099 non-null   object
dtypes: float64(2), int64(2), object(30)
memory usage: 292.0+ KB

- There are some columns with invalid data types.
- The columns `Engine capacity`, `Power`, `Battery warranty (km)`, `Mileage`, `Battery capacity`, `CO2 emissions`, `AC charging time`, `DC charging time` and `Seats` should be converted to `int` or `float` data types instead of `string`. Therefore, we will process the data strings to convert them into numerical data types.

In [10]:
#TODO
column_convert_to_numeric = ['Engine capacity','Power',
                         'Battery warranty (km)','Mileage',
                         'Battery capacity', 'CO2 emissions', 
                         'AC charging time', 'DC charging time']
def convert_to_int(column):
    for i in range(len(column)):
        value = column[i]
        if pd.notnull(value):
            column[i] = value.split(' ')[0].strip().replace('\xa0', '')
    column = pd.to_numeric(column, errors='coerce')
    return column
    
# Convert specified columns 
df[column_convert_to_numeric] = df[column_convert_to_numeric].apply(convert_to_int)
# Convert 'Seats' column 
df['Seats'] = pd.to_numeric(df['Seats'], errors='coerce')

In [11]:
# Rename the columns
new_column_names = {'Engine capacity': 'Engine capacity(ccm)',
                    'Price': 'Price(EUR)',
                    'Power': 'Power(kW)',
                    'Battery warranty (km)': 'Battery warranty(km)',
                    'Mileage': 'Mileage(km)',
                    'Battery capacity': 'Battery capacity(kWh)',
                    'CO2 emissions': 'CO2 emissions(g/km)',
                    'AC charging time': 'AC charging time(h)',
                    'DC charging time': 'DC charging time(min)'}
df = df.rename(columns=new_column_names)

Process the columns that store month/year data as strings to datetime: 
- First registration
- Warranty until

In [12]:
def convert_to_datetime(date_str):
    if pd.notnull(date_str):
        date_format = "%m/%Y"
        date_obj = datetime.strptime(date_str, date_format)
        return date_obj
    else:
        return pd.NaT
convert_column = ['First registration', 'Warranty until']
df[convert_column] = df[convert_column].applymap(convert_to_datetime)

/tmp/ipykernel_7522/286171130.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[convert_column] = df[convert_column].applymap(convert_to_datetime)

In [13]:
# Xử lí cột consumption
...

In [14]:
# After converting data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099 entries, 0 to 1098
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Weight                 315 non-null    float64
 1   Emission class         1019 non-null   object
 2   Engine capacity(ccm)   981 non-null    float64
 3   Condition              722 non-null    object
 4   VIN                    1099 non-null   object
 5   Price(EUR)             1099 non-null   int64
 6   Power(kW)              1099 non-null   int64
 7   CARNAME                1099 non-null   object
 8   Previous owners        374 non-null    float64
 9   ID                     1099 non-null   int64
 10  Battery type           73 non-null     object
 11  Battery warranty(km)   46 non-null     float64
 12  Interior color         866 non-null    object
 13  Mileage(km)            1099 non-null   int64
 14  Make                   1099 non-null   object
 15  Model                  1099 non-null   object
 16  Battery capacity(kWh)  85 non-null     float64
 17  First registration     1099 non-null   datetime64[ns]
 18  Doors                  1089 non-null   object
 19  Country of origin      151 non-null    object
 20  CO2 emissions(g/km)    1099 non-null   int64
 21  Type of finish         537 non-null    object
 22  Tags                   1070 non-null   object
 23  AC charging time(h)    54 non-null     float64
 24  Interior material      893 non-null    object
 25  DC charging time(min)  24 non-null     float64
 26  Consumption            970 non-null    object
 27  Body                   1099 non-null   object
 28  Warranty until         180 non-null    datetime64[ns]
 29  Body color             1006 non-null   object
 30  Seats                  983 non-null    float64
 31  Transmission           1099 non-null   object
 32  Fuel                   1099 non-null   object
 33  Drive type             1099 non-null   object
dtypes: datetime64[ns](2), float64(8), int64(5), object(19)
memory usage: 292.0+ KB

- Now the data types of the columns are more appropriate. The next step is to examine the distribution of data in the numerical and categorical columns.

2. With each numerical column, how are values distributed?
- What is the percentage of missing values?
- Handling missing values
- Min? max? Are they abnormal?
- Missing value treatment

- Filter out the columns that contain numerical data. Calculate the missing data rate for each column.

In [15]:
numeric_df = df.select_dtypes(include=np.number)
missing_percentage = numeric_df.isnull().mean()

print('The percentage of missing values:')
for idx, missing in zip(missing_percentage.index, missing_percentage): 
    print(f'- {idx}: {round(missing * 100, 2)}%')

The percentage of missing values:
- Weight: 71.34%
- Engine capacity(ccm): 10.74%
- Price(EUR): 0.0%
- Power(kW): 0.0%
- Previous owners: 65.97%
- ID: 0.0%
- Battery warranty(km): 95.81%
- Mileage(km): 0.0%
- Battery capacity(kWh): 92.27%
- CO2 emissions(g/km): 0.0%
- AC charging time(h): 95.09%
- DC charging time(min): 97.82%
- Seats: 10.56%

- The columns `Battery warranty (km)`, `Battery capacity`, `AC charging time` và `DC charging time` have a high rate of missing data due to the fact that these attributes are only applicable to electric cars. Therefore, it is recommended to keep the data as it is in these columns.
- For the column `Previous owners`, which indicates whether the car has been previously owned or not, the missing values can be replaced with 0, assuming that the missing values correspond to cars that are brand new.
- The missing values in the columnst `Seats` and `Engine capacity`will be replaced with the median value.
- The missing values in the column `Weight`  will be filled with the mean value.

In [16]:
df['Previous owners'] = df['Previous owners'].fillna(0)

# Xử lí missing values cột Seats
median_seats = df['Seats'].median()
df['Seats'] = df['Seats'].fillna(median_seats)

# Xử lí missing values cột Engine capacity
median_engine_capacity = df['Engine capacity(ccm)'].median()
df['Engine capacity(ccm)'] = df['Engine capacity(ccm)'].fillna(median_engine_capacity)

# Xử lí missing values cột Weight
mean_weight = df['Weight'].mean().round(2)
df['Weight'] = df['Weight'].fillna(mean_weight)

- Calculate the missing values again and save them into the `missing_percentages` variable.

In [17]:
numeric_df = df.select_dtypes(include=np.number)
missing_percentage = numeric_df.isnull().mean()

print('The percentage of missing values:')
for idx, missing in zip(missing_percentage.index, missing_percentage): 
    print(f'- {idx}: {round(missing * 100, 2)}%')

The percentage of missing values:
- Weight: 0.0%
- Engine capacity(ccm): 0.0%
- Price(EUR): 0.0%
- Power(kW): 0.0%
- Previous owners: 0.0%
- ID: 0.0%
- Battery warranty(km): 95.81%
- Mileage(km): 0.0%
- Battery capacity(kWh): 92.27%
- CO2 emissions(g/km): 0.0%
- AC charging time(h): 95.09%
- DC charging time(min): 97.82%
- Seats: 0.0%

- Now let's examine the distribution of data in the numerical columns. We will calculate percentiles with values of 0% (min), 25%, 50%, 75%, and 100% (max) to see how the data is distributed. The results will be saved in the `numeric_col_profile` variable.

In [18]:
numeric_columns = df.select_dtypes(include=np.number).columns
numeric_col_profile = df[numeric_columns].describe().loc[["min", "25%", "50%", "75%", "max"]]
numeric_col_profile

,Weight,Engine capacity(ccm),Price(EUR),Power(kW),Previous owners,ID,Battery warranty(km),Mileage(km),Battery capacity(kWh),CO2 emissions(g/km),AC charging time(h),DC charging time(min),Seats
min,830.00,1.0,5399.0,33.0,0.0,61021609.0,100000.0,0.0,1.0,0.0,1.0,22.0,2.0
25%,1597.77,1332.0,20474.0,85.0,0.0,61022011.5,120000.0,200.0,12.0,97.0,3.0,29.5,5.0
50%,1597.77,1499.0,28399.0,107.0,0.0,61022427.0,160000.0,26788.0,16.0,117.0,4.0,32.0,5.0
75%,1597.77,1968.0,41749.0,145.0,1.0,61022849.0,160000.0,62909.5,42.0,135.0,5.0,34.5,5.0
max,2676.00,6496.0,394349.0,588.0,4.0,61023291.0,240000.0,174215.0,319.0,356.0,12.0,55.0,7.0

- The distribution of the numerical columns seems to be normal, except for the minimum value of the`Engine capacity(ccm)` column which appears to be a bit unusual.

With each categorical column, how are values distributed?
- What is the percentage of missing values?
- How many different values? Are they abnormal?

In [19]:
#TODO

Dữ liệu có hợp lí hay không?

In [20]:
#TODO

Outlier detection and treatment.